.container-status-button-and-refresh-icon-clickable,
.container-billing-info-and-refresh-icon-clickable
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centered-text {
    margin: 0 auto; /* Center the button */
}

.right-icon {
    cursor: pointer; /* Change cursor on hover */
}

.borderRadius {
    border-radius: 0.3rem;
}

/*Following is done for the Payment Status container.*/
.statusColorRed {
    background-color: rgb(167, 58, 58);
    color: white;
}

.statusColorOrange {
    background-color: Orange;
    color: black;
}

.statusColorGreen {
    background-color: rgb(13, 95, 13);
    color: white;
}

.statusColorBlue {
    background-color: rgb(1, 118, 211);
    color: white;
}

.statusColorGray {
    background-color: rgb(206, 204, 204);
    color: black;
}